:root {
  /* Colors */
  --darkblue: hsl(217, 28%, 15%);
  --dark-main-background: hsl(218, 28%, 13%);
  --dark-main-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonial: hsl(219, 30%, 18%);
  --call-to-action: hsl(198, 60%, 50%);
  --call-to-action-hover: hsl(176, 68%, 64%);
  --error: hsl(0, 100%, 63%);
  --white: #FFF;
  --black: #000;

  /* Typography */

  --font-size: 14px;
  --font-family-principal: 'Raleway', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;
  --light: 400;
  --bold: 700
}

/* global */ 

.titles {
  font-family: var(--font-family-principal);
}

/* Header */

html {
  width: 0;
  height: 0;
  font-size: 62.5%;
}

html, * {
  box-sizing: border-box;
}

.body {
  font-size: 1.4rem;
  overflow-x: hidden;
  width: 100%;
  min-width: 375px;
  background-color: var(--dark-main-background);
  font-family: var(--font-family-secondary);
  color: var(--white);
  padding: 0 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  height: 50px;
}

.header__container-logo {
  margin-left: 0px;
}

.header__container-logo--logo {
  width: 100px;
}

.nav__ul {
  width: 165px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav__ul--li {
  list-style: none;
}

.nav__ul--link {
  text-decoration: none;
  color: var(--white);
}

/* main */

.main {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}

.main__image {
  width: 100%;
  margin: 30px 0;
}

.main__title {
  font-size: calc(var(--font-size) + 11px);
}

.main__pgraph {
  font-size: calc(var(--font-size) + 1px);
  margin: 30px 0;
}

.main__button {
  padding: 15px 80px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: var(--call-to-action);
}

/* services */

.services {
  text-align: center;
  margin-bottom: 100px;
}

.services__image {
  margin: 20px 0;
}

/* section productive */

.productive {
  margin-bottom: 100px;
}

.productive__title {
  font-size: calc(var(--font-size) + 2px);
}

.productive__link {
  display: inline-block;
  color: var(--call-to-action);
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--call-to-action);
  width: 150px;
}

.productive__link--icon {
  margin-left: 5px;
}

/*services*/

.cards {
  background: var(--dark-blue-testimonial);
  padding: 30px 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 30px;
}

.card__info--img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.card__info--title {
  font-size: calc(var(--font-size) + 4px)
}

/* section access */

.access {
  margin: 150px 0 80px 0;
  background: var(--dark-blue-testimonial);
  height: 340px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}

.access__title {
  font-size: calc(var(--font-size) + 6px);
}

.access__pgraph {
  text-align: center;
  font-size: var(--font-size);
  color: var(--);
  margin-bottom: 30px;
}

.access-form__input--input {
  padding: 17px 12px 17px 25px;
  border-radius: 25px;
  width: 100%;
  font-size: calc(var(--font-size) - 4px);
  color: rgba(245, 245, 245, 0.883);
  border: none;
  margin-bottom: 20px;
}

.access-form__input--button {
  width: 100%;
  padding: 15px 12px;
  border-radius: 25px;
  border: none;
  color: var(--white);
  background: linear-gradient(90deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 77%, rgba(51,158,204,1) 100%);  
}
